# Sunday Challenge_2 :Employability Quotient Test (EQT) Analysis

In [ ]:
import pandas as pd
import numpy as np
import tkinter as tk
import matplotlib.pyplot as plt

xls_list=['EQT Results/'+'A'+str(i+1)+'.xlsx' for i in range(19)]
coln=[('q'+str(i+1)) for i in range(60)] # question number from 1 to 60


def eqt(str,coln):
    '''eqt function which load the excel file and processed it '''
    a=pd.read_excel(str)
    a.drop([len(a)-2,len(a)-1],axis=0,inplace=True)
    colname=['name','inst','start','compl','time','grade']
    eq_name=['numr%','logi%','verb%','itawa%']
    new_coln=list(colname+coln+eq_name)
    a.columns=new_coln
    grade_data=a[coln]
    grade_data=grade_data.replace(to_replace='0.00',value=-0.25)
    grade_data=grade_data.replace(to_replace='-',value='0.00').astype('float')
    grade_data['grade']=grade_data.sum(axis=1)
    grade_data['numr%']=a['numr%'].str[:5].astype('float')
    grade_data['logi%']=a['logi%'].str[:5].astype('float')
    grade_data['verb%']=a['verb%'].str[:5].astype('float')
    grade_data['itawa%']=a['itawa%'].str[:5].astype('float')
    grade_data['inst']=a['inst']
    
    time=a['time'].str.extract(r'((\d+) [hour]+|(\d+) [mins]+ (\d+) [secs]+)|((\d+) [hour]+ (\d+) [mins]+)|(\d+) [mins]')
    time.fillna(0)
    time=time.drop([0,4,5,6],axis=1).fillna(0).astype('int')
    time_data=time[1]*3600+time[2]*60+time[3]+time[7]*60
    grade_data['time(s)']=time_data
    
    grade_data=grade_data[grade_data['time(s)']!=0]
    
    col = grade_data.pop("inst")
    grade_data.insert(0,'inst',col)
    return grade_data

#loading 19 Excel files 
a_lis=[eqt(xls_list[i],coln) for i in range(19)]


#Concatenate all excel files
new_dat=pd.concat(a_lis,ignore_index=True, sort=False)

new_dat['time(s)']=new_dat['time(s)'].where(new_dat['time(s)'] < 3600,3600) # changing the time to 1hr who exceed 1hour

#creating a processed data as csv file 
new_dat.to_csv('EQT.csv')

#feature Engineering 
instn=[('A'+str(i+1)) for i in range(19)]
grad_avg=[round(new_dat[new_dat['inst']==i]['grade'].mean(),2) for i in instn]
numr_avg=[round(new_dat[new_dat['inst']==i]['numr%'].mean(),2) for i in instn]
logi_avg=[round(new_dat[new_dat['inst']==i]['logi%'].mean(),2) for i in instn]
verb_avg=[round(new_dat[new_dat['inst']==i]['verb%'].mean(),2) for i in instn]
itaw_avg=[round(new_dat[new_dat['inst']==i]['itawa%'].mean(),2) for i in instn]
time_avg=[round(new_dat[new_dat['inst']==i]['time(s)'].mean()/60,2) for i in instn]


avg_data={'inst':instn,'numr%':numr_avg,'logi%':logi_avg,'verb%':verb_avg,'itawa%':itaw_avg,'grade':grad_avg,'time(m)':time_avg}


agg_data=pd.DataFrame(avg_data)
agg_data.index=instn

avg_grade=new_dat['grade'].sum()/len(new_dat['grade'])
stu_ab=new_dat[new_dat['grade']>avg_grade]
no_stu_abv=[len(stu_ab[stu_ab['inst']==i]) for i in instn]
no_stu=[len(a_lis[i]) for i in range(19)]
per_stud=np.array(no_stu_abv)/np.array(no_stu)


avg_time=[np.round(stu_ab[stu_ab['inst']==i]['time(s)'].sum(),0) for i in instn]
np.seterr(divide='ignore', invalid='ignore') #ignore the warning on true divide
time_tkn_abv_avg=np.array(avg_time)/np.array(no_stu_abv)

stu_data=pd.DataFrame({'inst':instn,'No.of students':no_stu,'stud_abv_overl_avg':no_stu_abv,'%stud_abv_avg':np.round(per_stud*100,2),'time(m)_abv_avg':np.round(time_tkn_abv_avg/60,0)})
stu_data=stu_data.fillna(0)

# Creating a DATAFrame for plotting etc...
cons_data=agg_data.set_index('inst').join(stu_data.set_index('inst'))
cons_data
cons_data.to_csv('cons_data.csv')

# Complete Processed data from the Excel files

Institute name,Question 1 to 60,grade,numerical percentage,logical perentage,verbal percentage ,IT awareness percentage and Timetaken to complete the exam in seconds(maximum 60 Minutes).

In [3]:
new_dat

,inst,q1,q2,q3,q4,q5,q6,q7,q8,q9,...,q57,q58,q59,q60,grade,numr%,logi%,verb%,itawa%,time(s)
0,A1,1.00,-0.25,1.00,1.00,1.00,1.00,-0.25,1.0,1.00,...,1.00,1.0,1.00,1.00,45.25,73.33,51.67,100.00,76.67,2951
1,A1,1.00,-0.25,1.00,1.00,1.00,1.00,1.00,1.0,1.00,...,1.00,1.0,1.00,1.00,30.00,16.67,50.00,66.67,66.67,1346
2,A1,-0.25,0.00,-0.25,0.00,1.00,1.00,0.00,1.0,1.00,...,-0.25,1.0,1.00,1.00,12.75,-6.67,31.67,25.00,35.00,2938
3,A1,1.00,1.00,-0.25,-0.25,1.00,-0.25,-0.25,1.0,1.00,...,1.00,1.0,1.00,1.00,23.75,0.00,33.33,66.67,58.33,788
4,A1,1.00,1.00,1.00,-0.25,1.00,1.00,1.00,1.0,1.00,...,1.00,1.0,0.00,0.00,36.50,23.33,63.33,65.00,91.67,3600
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1321,A19,1.00,1.00,1.00,1.00,-0.25,-0.25,1.00,1.0,1.00,...,1.00,1.0,1.00,1.00,26.75,8.33,43.33,51.67,75.00,1408
1322,A19,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.0,-0.25,...,1.00,1.0,1.00,-0.25,32.50,21.67,51.67,60.00,83.33,2703
1323,A19,1.00,1.00,1.00,-0.25,1.00,-0.25,1.00,1.0,1.00,...,-0.25,1.0,1.00,1.00,34.50,33.33,38.33,75.00,83.33,2708
1324,A19,1.00,-0.25,1.00,1.00,1.00,1.00,1.00,1.0,1.00,...,1.00,1.0,1.00,1.00,34.00,8.33,43.33,83.33,91.67,2659
1325,A19,1.00,-0.25,1.00,1.00,1.00,1.00,1.00,1.0,1.00,...,-0.25,1.0,-0.25,-0.25,28.50,18.33,35.00,51.67,85.00,2005

# Consolidated DataFrame for Plotting

In [4]:
cons_data

,numr%,logi%,verb%,itawa%,grade,time(m),No.of students,stud_abv_overl_avg,%stud_abv_avg,time(m)_abv_avg
inst,,,,,,,,,,
A1,16.97,49.09,59.24,73.03,29.75,39.39,11,3,27.27,45.0
A2,51.86,43.37,54.24,77.12,33.99,48.19,44,26,59.09,47.0
A3,39.03,51.55,56.00,75.65,32.94,55.48,148,69,46.62,55.0
A4,19.80,28.98,35.14,65.85,22.46,46.16,49,4,8.16,56.0
A5,65.03,50.49,55.24,78.06,37.32,53.15,48,32,66.67,55.0
A6,26.11,51.39,56.87,68.89,30.49,55.23,90,32,35.56,56.0
A7,54.62,66.15,70.13,85.51,41.46,49.20,13,11,84.62,49.0
A8,46.50,43.50,50.59,72.12,31.91,55.11,164,68,41.46,56.0
A9,69.63,58.64,71.51,81.66,42.21,54.69,149,115,77.18,55.0
A10,49.75,40.62,56.61,74.10,33.16,52.37,59,30,50.85,52.0
A11,6.83,31.83,33.89,59.21,19.76,58.94,21,0,0.00,0.0
A12,63.25,55.45,68.46,87.97,38.42,57.80,41,28,68.29,58.0
A13,34.21,51.46,54.28,75.83,32.37,56.61,231,105,45.45,58.0
A14,19.92,41.87,41.93,68.74,25.87,54.27,57,14,24.56,57.0
A15,13.33,42.60,33.30,59.71,22.34,42.31,52,7,13.46,47.0
A16,24.95,51.67,46.27,72.01,29.24,56.61,34,11,32.35,58.0
A17,42.03,47.97,47.19,85.05,33.34,54.25,32,21,65.62,56.0
A18,38.13,55.71,59.29,78.48,34.74,55.12,33,19,57.58,56.0
A19,36.57,41.37,56.77,83.80,32.78,44.64,50,23,46.00,48.0

# Institute performance grade wise

In [5]:
%matplotlib
br=agg_data[['inst','grade']].plot(kind='bar',figsize=(20,70),rot=360)
br.set_xlabel('Institute',size=20)
br.set_ylabel('grade',size=20)
#br.legend(xl,fontsize='large')
br.set_title('Institute performance grade wise',size=20)

for i in br.patches:
    # get_x pulls left or right; get_height pushes up or down
    br.text(i.get_x()-.02,i.get_height()+.7,str(round(i.get_height(),2)),fontsize=12,color='black')

Using matplotlib backend: Qt5Agg

# Overall EQT Institute wise

In [6]:
x= agg_data[['inst','numr%','logi%','verb%','itawa%']]
y= x.set_index('inst')
z=y.groupby('inst',sort=0).mean()
z.plot.bar(stacked=True,title='Overall EQT Institute wise',rot=360)
plt.ylabel('Percentage')

row_lb=[row for row in cons_data.iloc[:,0:4].values]    
r=np.array(row_lb).transpose()
xpos=0
ypos=0
a=0
j=0
while a<=75:   
    for i in range(len(r)):
        ypos+=r[i][j]
        plt.text(xpos-0.25,ypos-6,str(r[i][j]),color='white')
        a=a+1
    j+=1
    xpos+=1
    ypos=0

# Above average student Institute wise

In [7]:
abr=cons_data[['%stud_abv_avg']].plot(kind='bar',figsize=(20,70),rot=360)

abr.set_xlabel('Institute',size=20)
abr.set_ylabel('percentage',size=20)
#br.legend(xl,fontsize='large')
abr.set_title('Above average student Institute wise ',size=20)

for i in abr.patches:
    # get_x pulls left or right; get_height pushes up or down
    abr.text(i.get_x()-.02,i.get_height()+.7,str(round(i.get_height(),2)),fontsize=12,color='black')

# Time vs Individual Students

In [43]:
colors1 = np.where(new_dat['grade']>new_dat['grade'].mean(),'g','c')
g=new_dat['time(s)']/60
h=new_dat['grade']
plt.ylabel('Grade',size=10)
plt.xlabel('Time taken in Min',size=10)
plt.title('Time vs Individual Students',size=20)

plt.axhline(y=new_dat['grade'].mean(), color='r', linestyle='--')
plt.text(17,32.7,'Average grade')
plt.scatter(x=g,y=h,c=colors1)

plt.show()